input[type="date"].empty-date::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"].empty-date::before {
  content: "ថ្ងៃ / ខែ / ឆ្នាំ";
  color: #bbb;
  position: absolute;
}
input[type="date"].empty-date:focus::-webkit-datetime-edit {
  color: inherit;
}